<p class="menuelt" data-id="sub-dashboard"><%%= t(:dashboard, :default => "DashBoard") %></p>
<!--
<ul class="submenu" id="sub-dashboard">
  <li><%%= link_to "Home", "/" %></li>
  <li><%%= link_to "Bla1", "" %></li>
  <li><%%= link_to "Bla1", "" %></li>
</ul>
-->
<!-- Beautiful Scaffold Menu Do Not Touch This -->        
