<!DOCTYPE html>
<html lang="<%%= (I18n.locale || I18n.default_locale) %>">
  <head>
    <meta charset="utf-8">
    <title>Beautiful Scaffold</title>

    <meta name="description" content="Beautiful Scaffold">
    <meta name="author" content="You or me Sylvain Claudel (http://blog.escarworld.com)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%%= stylesheet_link_tag "application-bs" %>
    <%%= javascript_include_tag "application-bs" %>

    <%%= csrf_meta_tags %>
    <%%= yield :head %>
  </head>
  <body style="display:none;">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#">
            Beautiful-Scaffold
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <%%= render :partial => "layouts/beautiful_menu" %>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <!-- Beautiful_scaffold - Signin - Do not remove -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <%%= render :partial => "layouts/beautiful_menu" %>
          </ul>
        </div>
        <div class="col-md-10">
          <%% if not flash[:notice].blank? then %>
            <div class="alert alert-info">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Info : </h4>
              <%%= flash[:notice] %>
            </div>
          <%% end %>
          <%% if not flash[:error].blank? then %>
            <div class="alert alert-danger">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <h4 class="alert-heading">Error : </h4>
              <%%= flash[:error] %>
            </div>
          <%% end %>
          <div>
            <%%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="loader" style="display:none">
      <div class="circle"></div>
      <div class="circle1"></div>
    </div>

    <!-- Beautiful_scaffold - Modal - Do not remove -->

    <script type="text/javascript">
      <%% if not @opened_modal.blank? then %>
      $('<%%= @opened_modal %>').modal('show');
      <%% end %>
    </script>
    <script type="text/javascript">
        ;(function($){
            $.fn.datepicker.dates['<%%= I18n.locale.to_s %>'] = {
                days:        <%%= (t("date.day_names") + [t("date.day_names").first]).map(&:capitalize).to_s.html_safe %>,
                daysShort:   <%%= (t("date.abbr_day_names") + [t("date.abbr_day_names").first]).map(&:capitalize).to_s.html_safe %>,
                daysMin:     <%%= (t("date.abbr_day_names") + [t("date.abbr_day_names").first]).map{ |d| d.capitalize[0..2] }.to_s.html_safe %>,
                months:      <%%= t("date.month_names")[1..12].map(&:capitalize).to_s.html_safe %>,
                monthsShort: <%%= t("date.abbr_month_names")[1..12].map(&:capitalize).to_s.html_safe %>
            };
        }(jQuery));
    </script>
  </body>
</html>
