<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Bienvenue <%= @user.email %> </h1>
<p>
  Vous vous êtes inscrit à www.example.com, votre identifiant est : <%= @user.email %>.
</p>
<p>
  Pour activer votre compte, veuillez cliquer sur ce lien : <%= @url %> .
</p>
<p>Merci d'avoir créé votre compte, bonne journée !</p>
</body>
</html>