<div class="modal fade" id="modal-forget-password">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3><%%= t(:forgot_password, :default => "Forgot password") %></h3>
      </div>
      <div class="modal-body">
        <%%= form_for('<%= model %>', :as => '<%= model %>', :url => password_path('<%= model %>'), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
          <div class="form-group">
            <%%= f.label :email, t(:email, :default => "Email"), :class => "control-label" %>
            <div>
              <%%= f.email_field :email %>
            </div>
          </div>
          <div class="form-group">
            <div>
              <%%= f.submit t(:send_me_reset_password_instructions, :default => "Send me reset password instructions"), :class => 'btn btn-default' %>
            </div>
          </div>
        <%% end %>
      </div>
    </div>
  </div>
</div>